version: "3.8"
services:
  app:
    container_name: smart-student-portal
    restart: unless-stopped
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - PORT=3000
